<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>276253511704-jkjsg3bb6m3gh922122dk357mfqniset.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276253511704-jkjsg3bb6m3gh922122dk357mfqniset</string>
	<key>API_KEY</key>
	<string>AIzaSyAtBkWjSPvLACeDMxJYWvyEUPsqZVaDA_A</string>
	<key>GCM_SENDER_ID</key>
	<string>276253511704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZJ-jiang.EazyU</string>
	<key>PROJECT_ID</key>
	<string>eazyu-a86ff</string>
	<key>STORAGE_BUCKET</key>
	<string>eazyu-a86ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:276253511704:ios:f51d782f88aa0d0b</string>
	<key>DATABASE_URL</key>
	<string>https://eazyu-a86ff.firebaseio.com</string>
</dict>
</plist>